<li>
  <button {{action "makeDecks"}}>Build Deck</button>
</li>

<li>
  <button {{action "empty" "shoe"}}>Empty Shoe</button>
</li>
<li>
  <button {{action "empty" "discard"}}>Empty Discard</button>
</li>
<li>
  <button {{action "emptyDecks"}}>Empty Decks</button>
</li>
<li>
  <button {{action "shuffle"}}>Shuffle</button>
</li>
<li>
  <button {{action "addDeck"}}>Add Deck</button>
</li>
<li>
  <button {{action "pop"}}>PopTop Card</button>
</li>

